---
http_interactions:
- request:
    method: get
    uri: http://osrc.dfm.io/blairanderson.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "connected_users": [
            {
              "name": "Laura",
              "username": "thesteady"
            },
            {
              "name": "Katrina Owen",
              "username": "kytrinyx"
            },
            {
              "name": "Geoff Schorkopf",
              "username": "gschorkopf"
            },
            {
              "name": "Jorge Tellez",
              "username": "novohispano"
            },
            {
              "name": "Jonah Moses",
              "username": "jonahmoses"
            }
          ],
          "gravatar": "40f2ef2f2a528a76dbd3667acd154e5c",
          "name": "Blair Anderson",
          "repositories": [
            {
              "count": 165,
              "repo": "blairanderson/shoe-shop"
            },
            {
              "count": 99,
              "repo": "blairanderson/music-news"
            },
            {
              "count": 94,
              "repo": "blairanderson/runtalk"
            },
            {
              "count": 39,
              "repo": "blairanderson/bootstrapr"
            },
            {
              "count": 38,
              "repo": "blairanderson/blairanderson.github.io"
            }
          ],
          "similar_users": [
            {
              "name": "Joshua Montross",
              "username": "jmontross"
            },
            {
              "name": "hoshinotsuyoshi",
              "username": "hoshinotsuyoshi"
            },
            {
              "name": "Daniel Silver",
              "username": "dan-silver"
            },
            {
              "name": "Yuichi Hagio",
              "username": "yhagio"
            },
            {
              "name": "Brandur",
              "username": "brandur"
            }
          ],
          "timezone": -7,
          "usage": {
            "day": [
              58,
              16,
              6,
              1,
              0,
              0,
              0,
              12,
              42,
              33,
              38,
              39,
              46,
              51,
              75,
              49,
              46,
              53,
              50,
              27,
              31,
              53,
              79,
              65
            ],
            "events": [
              {
                "day": [
                  40,
                  9,
                  4,
                  1,
                  0,
                  0,
                  0,
                  4,
                  20,
                  19,
                  25,
                  23,
                  32,
                  25,
                  47,
                  36,
                  30,
                  35,
                  24,
                  24,
                  22,
                  39,
                  64,
                  52
                ],
                "total": 575,
                "type": "PushEvent",
                "week": [
                  122,
                  80,
                  63,
                  82,
                  63,
                  48,
                  117
                ]
              },
              {
                "day": [
                  1,
                  2,
                  0,
                  0,
                  0,
                  0,
                  0,
                  1,
                  5,
                  1,
                  3,
                  0,
              [...]
