---
http_interactions:
- request:
    method: get
    uri: http://osrc.dfm.io/mojombo.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "connected_users": [
            {
              "name": "Parker Moore",
              "username": "parkr"
            },
            {
              "name": "Rashaad Essop",
              "username": "skopp"
            },
            {
              "name": "Matt Rogers",
              "username": "mattr-"
            },
            {
              "name": "Kelvin Raffael Stinghen",
              "username": "kelvinst"
            },
            {
              "name": "Anatol Broder",
              "username": "penibelst"
            }
          ],
          "gravatar": "25c7c18223fb42a4c6ae1c8db6f50f9b",
          "name": "Tom Preston-Werner",
          "repositories": [
            {
              "count": 408,
              "repo": "mojombo/toml"
            },
            {
              "count": 109,
              "repo": "mojombo/jekyll"
            },
            {
              "count": 16,
              "repo": "jekyll/jekyll-import"
            },
            {
              "count": 5,
              "repo": "mojombo/mojombo.github.com"
            },
            {
              "count": 4,
              "repo": "mojombo/semver"
            }
          ],
          "similar_users": [
            {
              "name": "WebBreacher",
              "username": "webbreacher"
            },
            {
              "name": "sillybillypiggy",
              "username": "sillybillypiggy"
            },
            {
              "name": "Eric Mueller",
              "username": "nevinera"
            },
            {
              "name": "Thomas Tempelmann",
              "username": "tempelmann"
            },
            {
              "name": "Yutaro Sugai",
              "username": "hokkai7go"
            }
          ],
          "timezone": -8,
          "usage": {
            "day": [
              5,
              4,
              3,
              0,
              0,
              0,
              1,
              1,
              18,
              63,
              25,
              23,
              43,
              37,
              25,
              19,
              15,
              9,
              15,
              24,
              46,
              50,
              69,
              64
            ],
            "events": [
              {
                "day": [
                  3,
                  3,
                  0,
                  0,
                  0,
                  0,
                  0,
                  0,
                  10,
                  15,
                  9,
                  9,
                  13,
                  13,
                  7,
                  5,
                  8,
                  4,
                  6,
                  6,
                  14,
                  14,
                  14,
                  22
                ],
                "total": 175,
                "type": "IssueCommentEvent",
                "week": [
                  52,
                  26,
                  11,
                  10,
                  19,
                  4,
                  53
                ]
              },
              {
                "day": [
                  1,
                  0,
                  2,
                  0,
                  0,
                  0,
                  0,
                  0,
                  2,
                  18,
                  6,
                  9,
                [...]
