<!DOCTYPE html>
<html>
<head>
  <title>Open Source Report Card</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <%= link_to "Dashboard", dashboard_path %>
<% end %>
<%= javascript_include_tag "frontend_app" %>
</body>
</html>
