  <div class="col-xs-4">
    <%= link_to "Preview Charts", assets_path %>
    <span class="icon-stats"></span>
  </div>
  <div class="col-xs-4">

  </div>
  <div class="col-xs-4">
    <%= link_to "Public Charts", preview_path(current_user) %>
    <span class="icon-stats icon-large"></span>
  </div>
