<div class="jumbotron">
  <h2>Welcome to your Open Source Report Card.</h2>
  <p>Inspired by <a href="http://osrc.dfm.io/" target="_blank">http://osrc.dfm.io/</a>, i was hoping to make something more open. that would be easy to contribute to and update. If you want to play with a graphing library with real data, please come use ours and contribute to the growth.</p>
</div>