{{#each event.connected_users}}
  <div class="user-name">
    {{name}}
    {{link_to username "http://github.com/"}}
  </div>
{{/each}}

<ul>
  {{#each event.repositories}}
    <li>{{count}} - {{repo}}</li>
  {{/each}}
</ul>
repositories: [{count:165, repo:blairanderson/shoe-shop}, {count:99, repo:blairanderson/music-news},…]
similar_users: [{name:Joshua Montross, username:jmontross}, {name:hoshinotsuyoshi, username:hoshinotsuyoshi},…]
timezone: -7
usage: {day:[58, 16, 6, 1, 0, 0, 0, 12, 42, 33, 38, 39, 46, 51, 75, 49, 46, 53, 50, 27, 31, 53, 79, 65],…}
username: "blairanderson"