.tabs-content {
  border: solid 1px lightgray;
  border-top: none;
  padding: 20px; 
  margin-right: 2px;
}
.tabs-container {
  margin-left: 15px;
  .tab-list {
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    @include clearfix();
    > div {
      position: relative;
      display: block;
      width: 33.33333333333%;
      text-align: center;
      float: left;
      margin-bottom: -1px;
      @include border-bottom();
      > a {
        position: relative;
        display: block;
        padding: $nav-link-padding;
        margin-right: 2px;
        margin-top: 38px;
        line-height: $line-height-base;
        border: 1px solid transparent;
        border-radius: $border-radius-base $border-radius-base 0 0;
        &:hover,
        &:focus {
          text-decoration: none;
          background-color: $nav-link-hover-bg;
          border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
        }
      }
      &.disabled > a {
        color: $nav-disabled-link-color;
        &:hover,
        &:focus {
          color: $nav-disabled-link-hover-color;
          text-decoration: none;
          background-color: transparent;
          cursor: not-allowed;
        }
      }
      &.active > a {
        margin-top: 0px;
        padding-bottom: 54px;
        border-bottom:  none;
        border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
      }
      &.active {
        border-bottom: none;
      }
    }
  }
}